services:
  app:
    image: kimgt0128/snut-likelion:latest
    container_name: snut-likelion-app
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      TZ: Asia/Seoul
    restart: always


volumes:
  snut_likelion_db_data: