name: CI

on:
  pull_request:
    branches:
      - 'dev'
  push:
    branches:
      - 'main'
      - 'dev'

jobs:
  build:
    name: "Check Gradle Build"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant Execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle excluding tests
        run: ./gradlew clean build -x test